/*
SI 539, homework 3
Developed by Gui Ruggiero
*/

/* https://github.com/guiruggiero/homework3 */

body{
  color: black;
  font-size: 16px;
  margin: 1.2em;

  font-family: "Andika", sans-serif;
  background-image: url("../images/pigeon-background.jpg");
  background-color: #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  color: #000000;
  font-size: 16px;
  padding-top: 10px;
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

:focus{ /* flag - Focused elements should have a 2px black border*/
  border: 2px solid #000000;
}

footer{
  left:0px;
  bottom:0px;
  width:100%;

  min-height: 60px;
  position: fixed;
  background: #000000;
  color: #ffffff; /* flag */
  text-align: center;
}

main{
  margin-bottom: 100px;
}

table{
  margin: 0 auto;
  border: 2px solid #000000;
  border-radius: 15px; /* flag */
}

/* .rowhead{ flag
  border: 2px solid #000000;
} */

tr{
  border: 2px solid #000000;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 15px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 15px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 15px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

.colhead{ 
  min-width: 100px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0820;
}

td{
  text-align: center;
  border-top: 2px solid #000000;
  padding: 15px;
}

tbody tr:nth-child(odd){
  background-color: #d1d1d1;
}

tbody tr:nth-child(even){
  background-color: transparent;
}

tbody tr:hover{
  background-color: rgb(126,8,32);
  opacity: 0.5;
  color: #000000; /* flag */
}





h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}

caption{
  margin:5px 0px;
}

*{}